@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
        <p>
            @* Required by https://dev.maxmind.com/geoip/geoip2/geolite2/#License *@
            This product includes GeoLite2 data created by MaxMind, available from
            <a href="http://www.maxmind.com">http://www.maxmind.com</a>.
        </p>
    </body>
</html>
